@import "tailwindcss";

/* =========================================
   LIONSUN — Design System
========================================= */

:root {
  /* Typography */

  --family-heading: "Montserrat Variable", sans-serif;
  --family-body: "Montserrat Variable", sans-serif;

  /* Brand */

  --brand-950: #03182f;
  --brand-900: #05294f;
  --brand-800: #073a70;
  --brand-700: #075aa5;

  /* Accent */

  --accent-600: #087dcc;
  --accent-500: #0799f3;
  --accent-400: #27adff;
  --accent-300: #74cdff;

  /* Neutral */

  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-500: #64748b;
  --neutral-700: #334155;
  --neutral-900: #0f172a;

  --white: #ffffff;

  /* Semantic */

  --color-primary: var(--brand-900);
  --color-primary-dark: var(--brand-950);

  --color-accent: var(--accent-500);
  --color-accent-hover: var(--accent-600);

  --color-background: var(--white);
  --color-surface: var(--neutral-50);

  --color-text: var(--neutral-900);
  --color-text-muted: var(--neutral-500);
  --color-text-inverse: var(--white);

  /* Layout */

  --container-width: 1280px;

  /* Radius */

  --radius-sm: 0.375rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.875rem;
  --radius-xl: 1.25rem;

  /* Shadows */

  --shadow-card:
    0 8px 30px rgb(3 24 47 / 8%);

  /* Whatsapp*/

  --color-whatsapp-500: #25d366;
  --color-whatsapp-600: #1ebe5d;


    /* Hero */

   --hero-gradient-start: var(--brand-800);
    --hero-gradient-middle: var(--accent-600);
    --hero-gradient-end: var(--accent-400);

    --hero-glow: color-mix(
    in srgb,
    var(--accent-300) 65%,
    transparent
    );
}


/* =========================================
   Tailwind Theme
========================================= */

@theme inline {
  /* Fonts */

  --font-heading: var(--family-heading);
  --font-body: var(--family-body);

  /* Brand */

  --color-brand-950: var(--brand-950);
  --color-brand-900: var(--brand-900);
  --color-brand-800: var(--brand-800);
  --color-brand-700: var(--brand-700);

  /* Accent */

  --color-accent-600: var(--accent-600);
  --color-accent-500: var(--accent-500);
  --color-accent-400: var(--accent-400);
  --color-accent-300: var(--accent-300);

  --color-whatsapp-500: #25d366;
  --color-whatsapp-600: #1ebe5d;
}


.hero-brand-bg {
  background:
    radial-gradient(
      circle at 72% 38%,
      var(--hero-glow) 0%,
      transparent 32%
    ),
    linear-gradient(
      115deg,
      var(--hero-gradient-start) 0%,
      var(--hero-gradient-middle) 42%,
      var(--hero-gradient-end) 100%
    );
}



/* =========================================
   Base styles
========================================= */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: var(--family-body);

  color: var(--color-text);
  background: var(--color-background);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading);
}